<footer>
    <div class="container-lg">
        <div class="row">
            <div class="col">
                {% if site.github.repository_url %}
                    <a href="{{ site.github.repository_url }}" target="_blank">View on GitHub.</a>
                {% endif %}
            </div>
            <div class="col">
                {% if site.nuget.url %}
                    <a href="{{ site.nuget.url }}">View on NuGet.</a>
                {% elsif site.nuget.urls %}
                    View on Nuget:
                <ul>
                    {% for url in site.nuget.urls %}
                        <li><a href="{{ url }}" target="_blank">{{ url | split:"/" | last }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Copyright &copy; {{ site.time | date: "%Y" }} Stravaig Projects.</p>
            </div>
            <div class="col">
                <p>This documentation was last updated on:<br />{{ site.time | date: "%A, %d %B, %Y at %H:%M:%S %z"}}</p>
            </div>
        </div>
    </div>
</footer>