@import "bootstrap/bootstrap";

.highlight {

    $plaintext: $gray-300 !default;
    $string: $yellow-300 !default;
    $literal: $orange-300 !default;
    $keyword: $green-600 !default;
    $error-foreground: $red-100 !default;
    $error-background: $red-900 !default;
    $comment: $cyan-700 !default;
    $preprocessor: $gray-400 !default;
    $name-space: $green-400 !default;
    $name-attribute: $green-300 !default;
    $operator: $green-500 !default;
    $keyword-type: $yellow-300 !default;
    $regex: $purple-200 !default;
    $string-escape: $purple-300 !default;
    $deleted: $gray-700 !default;
    $header: $gray-200 !default;
  
    color: $plaintext;
  
    table td { padding: 5px; }
    table pre { margin: 0; }
    .w {
      color: $plaintext;
    }
    .err {
      color: $error-foreground;
      background-color: $error-background;
    }
    .c,  .cd,  .cm,  .c1,  .cs {
      color: $comment;
    }
    .cp {
      color: $preprocessor;
    }
    .o,  .ow {
      color: $operator;
    }
    .p,  .pi {
      color: $plaintext;
    }
    .gi {
      color: $string;
    }
    .gd {
      color: $deleted;
    }
    .gh {
      color: $header;
      font-weight: bold;
    }
    .k,  .kn,  .kp,  .kr,  .kv {
      color: $keyword;
    }
    .kc, .kt, .kd {
        color: $keyword-type;
    }
    .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
      color: $string;
    }
    .sr {
      color: $regex;
    }
    .si, .se {
      color: $string-escape;
    }
    .nt, .nn,  .nc, .no{
      color: $name-space;
    }
    .na {
      color: $name-attribute;
    }
    .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
      color: $literal;
    }
    .ss {
      color: $string;
    }
  }