
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

$font-family-monospace:       'Fira Code', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base: 1.33rem;

@import "bootstrap/bootstrap";

$stravaig-logo-colour: #6600FF;
$stravaig-logo-100: tint-color($stravaig-logo-colour, 80%);
$stravaig-logo-200: tint-color($stravaig-logo-colour, 60%);
$stravaig-logo-300: tint-color($stravaig-logo-colour, 40%);
$stravaig-logo-400: tint-color($stravaig-logo-colour, 20%);
$straviag-logo-500: $stravaig-logo-colour;
$stravaig-logo-600: shade-color($stravaig-logo-colour, 20%);
$stravaig-logo-700: shade-color($stravaig-logo-colour, 40%);
$stravaig-logo-800: shade-color($stravaig-logo-colour, 60%);
$stravaig-logo-900: shade-color($stravaig-logo-colour, 80%);


$stravaig-logo-colour-dark: shade-color($stravaig-logo-colour, 50%);
$stravaig-logo-colour-vdark: shade-color($stravaig-logo-colour, 75%);
$stravaig-logo-colour-light: tint-color($stravaig-logo-colour, 50%);
$stravaig-logo-colour-vlight: tint-color($stravaig-logo-colour, 75%);

a {
    color: $stravaig-logo-colour-light;
    :hover {
        color: $stravaig-logo-colour-vlight;
    }

    h1{
        text-decoration: none;
    }
}

blockquote {
    padding-left: 1rem;
    border-left: $stravaig-logo-colour 3px solid;
}

footer {
  border-top: $stravaig-logo-colour-light 2px dashed;
  padding-top: 1rem;
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6{
    color: $stravaig-logo-100;
} 

header {
    padding-top: 1rem;
    border-bottom: $stravaig-logo-colour-light 2px dashed;
    margin-bottom: 1rem;
    #logo {
        height: $h1-font-size + $headings-margin-bottom + $paragraph-margin-bottom + $font-size-base;
    }
}

hr {
  border: 0;
  opacity: 1;
  height: 21pt;
  background: url('../images/break.svg');
  background-repeat:no-repeat;
  background-position: center center;
}

p {
  code {
    background-color: $black;
    color: $green-200;
  }
}

table {
    border: $stravaig-logo-colour-light 1px solid;
    background-color: $stravaig-logo-colour-vdark;
    thead{
        border-bottom: $stravaig-logo-colour-light 1px solid;
        th {
            padding: 0.5rem;
        }
    }
    tbody {
        tr {
            border-bottom: $stravaig-logo-colour-dark 1px dotted;
        }
    }
    td {
        padding: 0.5rem;
    }
}

.footnotes {
    border: $stravaig-logo-colour-light 1px dotted;
    background-color: $stravaig-logo-colour-vdark;
    padding: 1rem;
    margin-top: 1rem;
}

.highlight {

    $plaintext: $green-100;
    $string: $yellow-300;
    $literal: $orange-300;
    $keyword: $green-400;
    $error-foreground: $red-100;
    $error-background: $red-900;
    $comment: $cyan-600;
    $preprocessor: $pink-400;
    $name-space: $green-300;
    $name-attribute: $green-300;
    $operator: $green-500;
    $keyword-type: $green-200;
    $regex: $purple-200;
    $string-escape: $purple-300;
    $deleted: $gray-700;
    $header: $gray-200;
  
    color: $plaintext;
    background-color: $black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  
    table {
        border: 0;
        background-color: $black;
        tbody {
            tr {
                border:0;
            }
        }
        td { 
            padding: 5px;
        }
        .gl {
            border-right: $stravaig-logo-colour 2px solid;
            text-align: right;
        }
        pre { 
            margin: 0;
         }
    } 

    .w {
      color: $plaintext;
    }
    .err {
      color: $error-foreground;
      background-color: $error-background;
    }
    .c,  .cd,  .cm,  .c1,  .cs {
      color: $comment;
    }
    .cp {
      color: $preprocessor;
    }
    .o,  .ow {
      color: $operator;
    }
    .p,  .pi {
      color: $plaintext;
    }
    .gi {
      color: $string;
    }
    .gd {
      color: $deleted;
    }
    .gh {
      color: $header;
      font-weight: bold;
    }
    .k,  .kn,  .kp,  .kr,  .kv {
      color: $keyword;
    }
    .kc, .kt, .kd {
        color: $keyword-type;
    }
    .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
      color: $string;
    }
    .sr {
      color: $regex;
    }
    .si, .se {
      color: $string-escape;
    }
    .nt, .nn,  .nc, .no{
      color: $name-space;
    }
    .na {
      color: $name-attribute;
    }
    .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
      color: $literal;
    }
    .ss {
      color: $string;
    }
  }